<div class="footer" layout="row" layout-xs="column" layout-padding="">
    <div flex="">
        <mat-card class="transparent">
            <img class="footer-logo" src="../assets/vision-logo-full.png">
            <mat-card-content>
                <p class="soft-txt roboto-thin">435-674-9290</p>
                <p class="soft-txt roboto-thin">sales@visionsmarthomes.com</p>
                <p class="soft-txt roboto-thin">2051 E. Red Hills Pkwy, Suite 5 St. George, UT 84770</p>
            </mat-card-content>
        </mat-card>
    </div>
</div>