.service-box {
    width: 100%;
    height: 100%;
}

.big-icon {
    font-weight: 100;
    font-size: 75px;
    width: 100%;
    color: rgb(200, 200, 200);
}

.headline-txt {
    color: rgb(200, 200, 200);
    font-family: Roboto-Thin;
}

.tagline-txt {
    color: rgb(200, 200, 200);
    font-family: Roboto-Thin;
}