@import '~@material/image-list/mdc-image-list.scss';

.banner {
    width: 100vw;
    height: 95vh;
    background-size: cover;
    background-repeat: no-repeat;
}

.banner-box {
    text-align: center;
    width: 100%;
    height: 100%;
    line-height: 100vh;
}

.banner-box > span {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    text-align: center;
}

.banner-lg {
    background-position-x: center;
    background-image: url(../../assets/OakCinemaRoomSlider.jpg);
}

.banner-sm {
    background-position-x: left;
    background-image: url(../../assets/OakCinemaRoomSlider-sm.jpg);
}

.banner-box > span > h1 {
    color: rgb(200, 200, 200);
    font-family: Roboto-Thin;
    padding: 0 15px 0 15px;
    margin: 0 0 24px 0 !important;
}

.lg-txt {
    font-size: 48px;
}

.sm-txt {
    font-size: 40px;
}

.banner-box > img {
    position: absolute;
    bottom: 0;
}

.light-bg {
    background-image: url(../../assets/light.png);
    background-size: cover;
    background-position-x: right;
    background-repeat: no-repeat;
    padding-bottom: 100px;
}

.analogue-amp-bg {
    background-image: url(../../assets/stock_img/analogue-amp.webp);
    background-size: cover !important;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-position-x: left;
    background-repeat: no-repeat;
}

.speaker-bg {
    background-image: url(../../assets/stock_img/speakers.webp);
    background-size: cover !important;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-position-x: left;
    background-repeat: no-repeat;
}

.speaker-md-bg {
    background-image: url(../../assets/stock_img/speakers-md.webp);
    background-size: cover !important;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-position-x: left;
    background-repeat: no-repeat;
}

.sony-speaker-bg {
    background-image: url(../../assets/stock_img/sony-speaker.webp);
    background-size: cover !important;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-position-x: left;
    background-repeat: no-repeat;
}

.sony-speaker-sm-bg {
    background-image: url(../../assets/stock_img/sony-speaker-sm.webp);
    background-size: cover !important;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-position-x: left;
    background-repeat: no-repeat;
}

.fiber-switch-bg {
    background-image: url(../../assets/stock_img/fiber-switch.webp);
    background-size: cover !important;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-position-x: left;
    background-repeat: no-repeat;
}

.fiber-switch-md-bg {
    background-image: url(../../assets/stock_img/fiber-switch-md.webp);
    background-size: cover !important;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-position-x: left;
    background-repeat: no-repeat;
}

.cables-bg {
    background-image: url(../../assets/stock_img/cables-connection.webp);
    background-size: cover !important;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-position-x: left;
    background-repeat: no-repeat;
}

.cables-sm-bg {
    background-image: url(../../assets/stock_img/cables-connection-sm.webp);
    background-size: cover !important;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-position-x: left;
    background-repeat: no-repeat;
}

.rock-salt {
    font-family: Rock-Salt;
}

.our-work-list-lg {
    @include mdc-image-list-masonry-columns(3, 3px);
}

.our-work-list-sm {
    @include mdc-image-list-masonry-columns(2, 1px);
}