
@import '~@angular/material/theming';
@include mat-core();
/*#ff3200*/
$vision-red: (
  50: darkred,
  100: darkred,
  200: darkred,
  300: darkred,
  400: darkred,
  500: darkred,
  600: darkred,
  700: rgb(255, 50, 0),
  800: rgb(255, 50, 0),
  900: rgb(255, 50, 0),
  A100: rgb(255, 55, 55),
  A200: rgb(255, 55, 55),
  A400: rgb(255, 55, 55),
  A700: rgb(255, 55, 55),
  contrast: (
    50: white,
    100: white,
    200: white,
    300: white,
    400: white,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
    A100: white,
    A200: white,
    A400: white,
    A700: white,
  )
);
$soft-grey: (
    50: rgb(25, 25, 25),
    100: rgb(25, 25, 25),
    200: rgb(25, 25, 25),
    300: rgb(30, 30, 30),
    400: rgb(30, 30, 30),
    500: rgb(30, 30, 30),
    600: rgb(35, 35, 35),
    700: rgb(35, 35, 35),
    800: rgb(35, 35, 35),
    900: rgb(35, 35, 35),
    A100: rgb(40, 40, 40),
    A200: rgb(40, 40, 40),
    A400: rgb(40, 40, 40),
    A700: rgb(40, 45, 45),
    contrast: (
      50: white,
      100: white,
      200: white,
      300: white,
      400: white,
      500: white,
      600: white,
      700: white,
      800: white,
      900: white,
      A100: white,
      A200: white,
      A400: white,
      A700: white,
    )
  );

$vision-smart-homes-primary: mat-palette($soft-grey);
$vision-smart-homes-accent: mat-palette($mat-blue-grey);
$vision-smart-homes-warn: mat-palette($vision-red);
$vision-smart-homes-theme: mat-dark-theme($vision-smart-homes-primary, $vision-smart-homes-accent, $vision-smart-homes-warn);

@include angular-material-theme($vision-smart-homes-theme);

.mat-card-header-text {
  margin: 0 !important;
  width: 100% !important;
}

.mat-card-actions {
  width: 100%;
  margin: 0 !important;
  left: 0 !important;
}

html, body {
  width: 100vw;
  height: 100%;
  background-color: rgb(20, 20, 20);
}

body { 
  margin: 0; 
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

::-webkit-scrollbar {
  width: 0;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

::-webkit-scrollbar-thumb {
background-color: rgb(30, 30, 30);
outline: 1px solid rgb(25, 25, 25);
}

.parallax {
  background-attachment: fixed !important;
}

.content {
  width: 100%;
  align-self: center;
  max-width: 1500px;
  padding-top: 100px;
  display: inline-block;
  text-align: auto;
  overflow: hidden;
}

.content-strip {
  width: 100vw;
  align-self: center;
  max-width: 1500px;
  padding: 50px 0 50px 0;
  display: inline-block;
  text-align: auto;
  overflow: hidden;
}

.container {
  align-items: center;
  align-content: center;
  text-align: center;
  width: 100vw;
  display: inline-block;
}

.full-height-container {
  align-items: center;
  align-content: center;
  text-align: center;
  width: 100vw;
  height: 100vh;
}

.brand-card {
  text-align: left;
  display: inline-block;
  background: transparent;
  width: 100%;
  box-shadow: none !important;
  padding: 0 10px 0 10px;
}

.right-brand-card {
  text-align: right;
  display: inline-block;
  background: transparent;
  width: 100%;
  box-shadow: none !important;
  padding: 0 10px 0 10px;
}

.brand-card > .mat-card-image {
  max-height: 250px !important;
}

.nav-grid-tile {
  background-color: transparent;
}

.tile-img {
  margin-top: -16px;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
  width: 100%;
  margin: 0 -16px 16px -16px;
}

.cookie {
  font-family: Cookie !important;
}

.pacifico {
  font-family: Pacifico !important;
}

.dash {
  border-bottom: 2px solid #8B0000; 
  margin: 0 35% 0 35%; 
  height: 2px;
}

.transparent {
  background-color: transparent !important;
}

.dark-bg {
  background-color: rgb(20, 20, 20);
}

.contact-modal > .mat-dialog-container {
  width: 100vw;
  max-width: 600px;
}

.contact-modal > .mat-dialog-container > app-contact-modal {
  width: 100%;
}

.dark-bg > .mat-dialog-container {
  background-color: rgb(20, 20, 20);
}

.shadow-box {
  background-color: rgba(15, 15, 15, .75);
}